<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Fellowship of the Cloud</title>
</head>
<body>
<center>
<h1>Infinity Edge Model Processor API</h1>
<img src="{{url_for('static', filename='roche-fellows.png')}}" width="50%" />
    <h2>The Fellowship of the Cloud</h2>
    <h3>Roche Hackathon</h3>

    <a href="/api/mllab/check-instrument?time=270&dayOfWeek=Monday&instrumentId=1&num_samples_t0=6&num_samples_t15=4&num_samples_t30=6&num_samples_t45=12">Sample Query</a>
</center>
<h3>High Level Architecture</h3>
<img src="{{url_for('static', filename='infinity-edge-model-processor.png')}}" width="80%" />


</body>
</html>